.cart-container {
  display: flex;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 750px) {
    flex-direction: column;
  }

  > .cart-left {
    width: 50%;
    position: relative;

    > .card-left-summary {
      background: white;
      position: absolute;
      width: 100%;
      height: 85vh;
      top: -10rem;
      padding: 2rem;
      border-radius: 0px 0px 13px 13px;
      overflow: auto;

      > h2 {
        margin-bottom: 20px;
      }

      @media screen and (max-width: 750px) {
        height: 30vh;
      }
    }
  }
  > .cart-right {
    width: 50%;
    padding: 0% 0% 0% 10%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    > h2 {
      color: white;
      color: white;
      font-size: 2rem;
      padding: 1rem;
    }

    @media screen and (max-width: 750px) {
      width: auto;
      padding: 0;
      gap: 0;
      height: 50vh;
      overflow: auto;
      margin-top: 20vh !important;
    }
  }
}
